<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TablePath" value="E:\Project\TableTool\Excel"/>
		<add key="BinaryOutPath" value="E:\Project\TableTool\TableTool\Output\Binary"/>
		<add key="CSharpOutPath" value="E:\Project\TableTool\TableTool\Output"/>
	</appSettings>
</configuration>